body{
    display: flex;
    background-color: white;
    margin: 10px 50px 0px 50px;
    font-family:"Poppins", sans-serif; 
    min-height: 95vh;
    flex-direction: column;
}

h1{
    font-size: 5rem;
}

.main{
    flex: 1;
}

.logo {
    width: 200px;
}

footer {
    text-align: center;
    margin-top: 50px;
}

.care {
    color: seagreen;
}

.innovation {
    color: seagreen;
}


.doctor {
    float: left;
}

.hospital {
    float: right;
}

.image{
    height: 200px;
    float: left;
    margin-right: 50px;
}

.pic {
    width: 45%;
}

@media (max-width: 680px) {
    .logo{
        width: 100px;
    }

    .pic {
        width: 100%;
        display: block;
        text-align: justify;
        margin-bottom: 30px;

    }

    .pic img {
        width: 100%;
        display: block;
        margin-bottom: 10px;
        object-fit: cover;


    }


}



